:host {
  display: flex;
}

.dt-uxd-startnode {
  height: 100%;
  width: 100%;
  background-color: #00a1b2;
  color: white;
  border-radius: 3px;
  margin: 4px;

  &:hover {
    background-color: #00848e;
    cursor: pointer;
  }

  &:active {
    background-color: #006d75;
  }

  &:visited {
    background-color: aqua;
  }
}

.dt-uxd-startnode-content {
  margin: 4px;
}

.dt-uxd-node {
  height: 100%;
  width: 100%;
  background-color: purple;
}
